<article data-project-id="<%= "#{project.id}" %>">
  <div class="todo-header">
    <h3>
      <%= h project.title %>
    </h3>
    <ul>
      <li>
        <a class="todo-action-edit" href="#" title="Edit">
          <i class="fas fa-pencil-alt project-edit-icon"></i>
          <i class="fas fa-times project-cross-icon"></i>
        </a>
      </li>
      <li>
        <a class="todo-action-remove" href="#" title="Delete">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="todo-bar">
    <div class="todo-bar-new">
      <form>
        <input placeholder="Start typing here to create a task..." type="text">
        <button>Add Task</button>
      </form>
    </div>
  </div>
  <div class="todo-list">
    <table>
      <tbody>
      <% unless project.tasks.empty? %>
        <%= render project.tasks %>
      <% end %>
      </tbody>
    </table>
  </div>
</article>